{% extends 'baseJokes.html' %}
{% block title %}Dark humor{% endblock %}
{% block discription %}On this page you can upload any joke with dark humor.{% endblock %}
{% block jokeCategoryKey1 %}DarkHumor{% endblock %}
{% block jokeCategoryKey2 %}DarkHumor{% endblock %}

{% block categories1 %}
{% for key, value in joke_categories.items %}
{% if key == 'DarkHumor' %}
<a class="col-4 col-md-3 col-lg-2 d-flex justify-content-center text-white text-decoration-underline px-2" href="/home/{{ value.url }}">{{ value.name }}</a>
{% else %}
<a class="col-4 col-md-3 col-lg-2 d-flex justify-content-center text-white text-decoration-none px-2" href="/home/{{ value.url }}">{{ value.name }}</a>
{% endif %}
{% endfor %}
{% endblock %}

{% block categories2 %}
{% for key, value in joke_categories.items %}
{% if key == 'DarkHumor' %}
<a class="col-4 col-md-3 col-lg-2 d-flex justify-content-center text-white text-decoration-underline px-2" href="/home/{{ value.url }}">{{ value.name }}</a>
{% else %}
<a class="col-4 col-md-3 col-lg-2 d-flex justify-content-center text-white text-decoration-none px-2" href="/home/{{ value.url }}">{{ value.name }}</a>
{% endif %}
{% endfor %}
{% endblock %}

{% block jokes %}
{% for joke in joke_categories.DarkHumor.table %}
<div class="w-100 d-flex justify-content-end align-items-center {% if not forloop.first %} mt-5 {% endif %}">
    <button type="button" class="btn btn-sm report_button text-white d-flex justify-content-center align-items-center border-white fs-6 rounded-bottom-0 rounded-top" data-bs-toggle="modal" data-bs-target="#staticBackdrop" data-jokeid="{{ joke.id }}"><span class="material-symbols-outlined me-1">flag</span>Report</button>
</div>
<div class="card w-100 border-white rounded-end-0 rounded-bottom">
    <div class="card-body d-flex justify-content-center align-items-center">
        <p class="card-text text-white fs-5 text-break text-center">{{joke.joke}}</p>
    </div>
    <div class="card-footer d-flex justify-content-center align-items-center border-top border-white rounded-top-0">
        <p class="text-white-50 fs-6 my-1">Uploaded by {{joke.from_user}} on {{joke.created_at}}</p>
    </div>
</div>
{% endfor %}
{% endblock %}