{% extends 'base.html' %}
{% block title %}Rules{% endblock %}
{% block description %}On this page are all the rules you must follow when you are on LaughLoud.{% endblock %}
{% block isSelectedU %}selected{% endblock %}
{% block isSelectedUSm %}selected{% endblock %}
{% block header %}Rules{% endblock %}
{% block content %}
<p class="d-flex justify-content-center text-center text-white fs-5 mx-3">On this page are all the rules you must follow when you are on LaughLoud.</p>

<div class="text-white d-flex flex-column align-items-start ms-2 ms-md-4">
    <div class="mt-4">
        <h5>Content Guidelines and Rules:</h5>
        <ol class="my-3">
            <li class="my-3">
                <b>Inappropriate Language:</b>
                <ul class="my-3">
                    <li>Avoid the use of offensive language, including but not limited to explicit profanity. Mild language is acceptable, but strong swears are not allowed (e.g., avoid using offensive words).</li>
                </ul>
            </li>

            <li class="my-3">
                <b>Self-Promotion:</b>
                <ul class="my-3">
                    <li>Refrain from promoting personal or commercial interests within the joke content. The platform is for sharing jokes, not for advertising products, services, or personal gain.</li>
                </ul>
            </li>

            <li class="my-3">
                <b>Respectful Content</b>
                <ul class="my-3">
                    <li>Do not target or make jokes about specific individuals. Content should be light-hearted and enjoyable for a wide audience. Avoid offensive or hurtful remarks.</li>
                </ul>
            </li>

            <li class="my-3">
                <b>Category Relevance:</b>
                <ul class="my-3">
                    <li>Ensure that every joke is appropriately categorized. Each joke should align with the designated category to maintain a well-organized and enjoyable experience for users.</li>
                </ul>
            </li>
        </ol>
    </div>
    <div class="mt-5">
        <h5>Moderation Policy:</h5>
        <ol class="my-3">
            <li class="my-3">
                <b>Content Review:</b>
                <ul class="my-3">
                    <li>All submitted jokes will be subject to review to ensure they adhere to the content guidelines. Jokes violating these rules may be removed.</li>
                </ul>
            </li>

            <li class="my-3">
                <b>User Reporting:</b>
                <ul class="my-3">
                    <li>Users are encouraged to report any content that violates the guidelines. Reports will be reviewed promptly.</li>
                </ul>
            </li>

            <li class="my-3">
                <b>Warning and Education:</b>
                <ul class="my-3">
                    <li>Users found in violation of the rules will receive a warning. The moderation team may provide feedback on the specific rule violation.</li>
                </ul>
            </li>

            <li class="my-3">
                <b>Repeat Offenders:</b>
                <ul class="my-3">
                    <li>If a user consistently violates the guidelines, their jokes may be deleted, and they may face a temporary or permanent ban from the platform.</li>
                </ul>
            </li>
        </ol>
    </div>
</div>
{% endblock %}