{% extends 'base.html' %}
{% block title %}Upload a joke{% endblock %}
{% block description %}On this page you can upload your own jokes you heard of or even created by yourself.{% endblock %}
{% block isSelectedU %}selected{% endblock %}
{% block isSelectedUSm %}selected{% endblock %}
{% block header %}Upload a joke!{% endblock %}
{% block content %}
<div class="d-flex flex-column align-items-center text-center text-white fs-5 mx-3 mt-4">
    On this page you can upload your own jokes you heard of or even created by yourself.
    Please remember always to choose the right category for your joke and the rules, if you want to upload it. <br><br>
    <a class="text-white" href="{% url 'home:rules' %}">To the rules</a>
</div>
<div class="mt-5 mx-3">
    <form class="d-flex flex-column align-items-center" method="post" action="{% url 'home:upload' %}">
        {% csrf_token %}
        <div class="form-check text-center d-flex">
            <label class="form-check-label text-white fs-5" for="acceptedRules">I will follow the rules and I am sure about what will happen if I don't follow them</label>
            <input required type="checkbox" class="form-check-input ms-3 fs-5" id="acceptedRules">
        </div>
        <label class="text-white fs-5 mt-5" for="typesOfJokes">Choose a joke category:</label>
        <select required id="typesOfJokes" name="selected_category" class="form-select-sm text-white mt-2 fs-5 rounded-3 border-1 border-white px-4" aria-label="joke category" style="background-color: rgb(85, 10, 10);">
            <option value="" disabled selected hidden>Nothing selected</option>
            {% for key, value in joke_categories.items %}
            {% if jokeCategory == value.name %}
            <option selected value="{{ value.name }}">{{ value.name }}</option>
            {% else %}
            <option value="{{ value.name }}">{{ value.name }}</option>
            {% endif %}
            {% endfor %}    
        </select>

        <label class="form-label text-white fs-5 mt-5" for="joke">Enter you joke (max. 100 characters)</label>
        <textarea required class="joke_textarea pt-2 px-3 fs-5 rounded-3 text-center w-75 mx-xl-5" rows="3" name="joke" id="joke" placeholder="What's the best thing about Switzerland? I don't know, but the flag is a big plus.">{{ jokeInput }}</textarea>
        <button class="own_warning_button mt-5 rounded-4 border-3 d-inline-block text-white fs-5 px-5 py-2 text-decoration-none mb-3" type="submit">Upload the joke!</button>
    </form>
</div>     
{% endblock %}

